@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Raleway:wght@300;400;500;700&display=swap');

:root{
    --primary-solid: #FF3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secundary-solid: #1D84B5;
    --secundary-900: rgb(29, 132, 181, 0.9);
    --secundary-500: rgb(29, 132, 181, 0.5);
    --secundary-300: rgb(29, 132, 181, 0.3);

    --dark-solid: #1F1F1F;
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: rgb(31, 31, 31, 0.5);
    --dark-300: rgb(31, 31, 31, 0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;

    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    --font-display: 4.6rem;
    --font-jumbo: 3.8rem;
    --font-xlarge: 3rem;
    --font-large: 2.4rem;
    --font-medium: 1.8rem;
    --font-small: 1.6rem;
    --font-xsmall: 1.4rem;

    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}
*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);
}
a {
    text-decoration: none;    
    font-family: inherit;
    color: inherit;
}
/* header, footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
} */
ul, ol {
    list-style: none;
}
p {
    font-size: 1.8em;
}
img {
    width: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */
header {
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    font-family: var(--alternative-font);
    padding: var(--spacing-36);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__logo {
    max-width: 300px;
}
.navbar__menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}
.navbar__link {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
}
.navbar__link:hover {
    background-color: var(--primary-900);
}
.with-icon {
    display: flex;
    align-items: 0 auto;
    gap: var(--spacing-8);
}
.with-submenu:hover .submenu{
    display: block;
}
.submenu {
    display: none;
    width: 300px;
    position: absolute;
    background-color: var(--dark-bg-solid);
}
.submenu__link {
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
    transition: background .3s ease-in-out;
}
.submenu__link:hover {
    background-color: var(--primary-900);
}

/* HERO */
.hero {
    background-image: url(../img/funkos-banner.webp);
    padding: var(--spacing-128);
    background-size: cover;
    background-attachment: fixed;
}
.hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    align-items: start;
}
.hero__title {
    font-family: var(--alternative-font);
    font-size: var(--font-jumbo);
    color: var(--light-font-solid);
}
.hero__text {
    font-family: var(--alternative-font);
    font-size: var(--font-medium);
    color: var(--light-font-solid);
}
.hero__link {
    display: inline-block;
    background-color: var(--light-bg-solid);
    font-size: var(--font-medium);
    font-weight: 500;
    padding: var(--spacing-12) var(--spacing-68);
    border-radius: 50px;
}